body {
    font-family: sans-serif;
}

nav {
    text-align: center;
}

nav a {
    margin: 40px;
    color: black;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

.fam1 {
    text-align: center;
}

p img {
    margin: 20px;
    border-left: 10px dotted black;
}

.fam2 {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

footer {
    background-color: black;
    padding: 2px;
}

footer p {
    background-color: white;
}




